/*CSS Styles HTML 200*/

/*Main Area*/
body {
  min-height: 100vh;
  padding-bottom: 55vh;
  position: absolute;
  right: 0px;
  left: 0px;
  margin: 0;
}

/**header start**/
.header-img {
  display: inline-flex;
  background: radial-gradient(red, blue);
  background-image: url("../images/header-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:50vh;
  color: #4dff4d;
  width: 100vw;
}

.header-container{
  position: absolute;
  left: 10vw;
  top: 6vw;
}

.header-logo {
  width:100%;
  /**position: absolute;**/ /**removing this fixed the text issue**/
  background-image: url("../images/adoptadog-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0; /* reset */
  padding-bottom: 30%;
}

.header-text{
    position: relative;
    width:100%;
    text-align: left;
    padding: 0;
    font-weight: bold;
}

.header-text > p {
    margin: 0;
  }

.checkout-container {
  position: absolute;
  right: 7vw;
  top: 2vw;
  height: auto;
  justify-content: center;
  background-size: contain;
}

.checkout-logo {
  width:100%;
  height: inherit;
  /**position: absolute;**/
  background-image: url("../images/cart-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0; /* reset */
  padding: 15%;
}

.checkout-container button {
    background-color: #4CAF50;
    margin-top: 1REM;
    padding-left: 2rem;
    padding-right: 2rem;
    /*width: cover;*/
    margin-top: 10%;
    align-self: center;
    border: none;
    color: #FFFFFF;
}

.checkoutCard {
    display: flex;
    flex-flow: row;
    background-color: #fff;
    margin: 1rem;
    padding: 0rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    /**width: 30vh;**/
    width: 50%;
}

/**header end*/

/**grey top nav bar start**/
nav.upper-nav {
    position: relative;
    height: auto;
    width: 100vw;
    margin: 0;
    height: auto;
    background-color: #c2c2a3;
    font-size: 0.75REM;
}

nav.upper-nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    flex-shrink: 1;
    color: #003366;
}

ul li.top-nav:not(:last-child):after {
  content:"\00a0/\00a0";
  font-size: 0.75REM;
  font-weight: bold;
  color: #003366;
  }

  nav.upper-nav>ul>li a {
      display: inline-block;
      color: #003366;
      text-align: left;
      padding: 4px;
      text-decoration: none;
      font-weight: bold;
      font-size: 0.75REM;
      font-weight: bold;
  }
/**grey top nav bar end**/

/**Dog Gallery Start**/
.dog-gallery{
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100%;
    flex-grow: 1;
    justify-content: center;
    float: left;
    width: 55vw;
    /**margin: 0 1.5%;**/
    padding-left: 10%
}

.dog-gallery > .dogcard:nth-child(1){
    flex-basis: 100%;
}

.side-blog{
  float: right;
  width: 20vw;
  padding-right: 9REM;
}

.dogCard-top{
    display: flex;
    flex-flow: column;
    flex: 1 0 55vw;
    background-color: #fff;
    margin: 1rem;
    padding: 0rem;

}

.text-div {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 1REM;
}

/**
.dogCard-top h5, .dogCard-top p {
    margin-left: 1rem;
}
**/

.dogCard {
    display: flex;
    flex-flow: column;
    flex: 1 0 29%;
    margin: 1rem;
    padding: 0rem;
    padding-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    /**width: 30vh;**/
}

.sideblogCard {
    display: flex;
    flex-flow: column;
    flex: 1 0 30%;
    margin: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    /**width: 30vh;**/
}

.sideblogCard  h5, .sideblogCard p {
  margin: .2rem 0;
  padding: 0.5rem;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
    /**width: 30vh;**/
}

.sideblogCard a {
  margin: .2rem 0;
  padding: 0.5rem;
}

.side-blog h2 {
  margin: .2rem 0;
  padding: 0.7rem;
  padding-top: 1.5REM;
}

/**cellphpone**/
@media screen and (max-width: 576px) {
  .dogCard {
    display: flex;
    flex-flow: column;
    flex: 1 0 39%;
    margin: 1rem;
    padding: 0rem;
    padding-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  }

  .dogCard-top{
      display: flex;
      flex-flow: column;
      flex: 1 0 70vw;
      background-color: #fff;
      margin: 1rem;
      padding: 0rem;
      width: 100vw;
  }

  .text-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1REM;
    padding-right: 1REM;
  }

  .dogCard-top img {
    padding-left: 1REM;
    padding-right: 1REM;
  }

  .dog-gallery{
      display: flex;
      flex-direction: row;
      flex-basis: 60%;
      flex-wrap: wrap;
      align-content: flex-start;
      height: 100%;
      flex-grow: 1;
      justify-content: center;
      float: left;
      width: 55vw;
      /**margin: 0 1.5%;**/
      padding-left: 20%
  }

  .side-blog{
    display: none;
    float: right;
    width: 20vw;
    text-overflow: ellipsis;
    margin: 0 1.5%;
  }

/**
  .dogCard-top h5, .dogCard-top p, .dogCard-top img {
      padding-left: 3rem;
  }
**/

  .checkout-container {
    position: absolute;
    right: 30vw;
    top: 2vw;
    height: auto;
    justify-content: center;
    background-size: contain;
  }


}

/**Ipad start**/
@media screen and (min-width: 768px) and (max-width:769px) {
  .dogCard {
    display: flex;
    flex-flow: column;
    flex: 1 0 35%;
    margin: 1rem;
    padding: 0rem;
    padding-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  }


  .text-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /**padding-left: 0;
      padding-right: 10%;**/


  }

  .side-blog{
    float: right;
    width: 26vw;
    padding-right: 2REM;
  }

  .checkout-container {
    position: absolute;
    right: 14vw;
    top: 2vw;
    height: auto;
    justify-content: center;
    background-size: contain;
  }

}
/**Ipad End**/

.dogcardRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        /**align-items: center;**/
}

.dogCard p, .dogCard small, .dogcardRow small {
    margin: .2rem 0;
    padding: 0.5rem;
}

.dogCard h5 {
    margin: .2rem 0;
    padding: 0.5rem;
    color: #003366;
}

.dogCard small {
    margin: .2rem 0;
    padding: 0.5rem;
    font-weight: bolder;
}

.dogCard > img {
    align-self: center;
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.dogCard > img {
    align-self: center;
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.sideblogCard > img {
    /**align-self: left;**/
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dogCard button {
    background-color: #4CAF50;
    /**margin: .2rem 0;**/
    padding: 0.5rem;
    width: 90%;
    align-self: center;
    border: none;
    color: #FFFFFF;
}

.cardRow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /**align-items: center;**/
}

/**Dog Gallery end**/

/**Bottom button**/
.bottombuttonContainer{
   display: flex;
   align-items: center;
   justify-content: center;
   clear: both;
   padding-top: 1REM;
}

.bottomButton{
   background-color: #c2c2a3;
   border: none;
   color: #003366;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   height: 2rem;
   align-self: center;
   clear: both;
}
/**Bottom button end**/

/**Footer Start**/
.footer-container {
  position: absolute;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35vh;
  background-color: #003366;
  justify-content: center;
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.footer-logo {
  width:100%;
  background-image: url("../images/adoptadog-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0; /* reset */
  padding-bottom: 30%;
}

.footer-text{
    position: relative;
    bottom: 0;
    width:100%;
    text-align: center;
    padding: 0;
    font-size: 0.75REM;
    font-weight: bold;
}

footer > div {
  margin: 1em auto;
}

/**Footer End**/

/**Links Navigator Start**/
nav.lower-nav {
    position: relative;
    height: 60px;
    width: 100%;
    margin: 0;
    justify-content: center;
}

nav.lower-nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
}

ul li:not(:last-child):after {
  content:"\00a0/\00a0";
  font-size: 0.75REM;
  font-weight: bold;
  color: #ffffff;
  }

nav.lower-nav>ul>li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.75REM;
    font-weight: bold;
}

/**Links Navigator End**/
